.fh5-map-pan {
  touch-action: none;
  cursor: grab;
}
.fh5-map-pan:active {
  cursor: grabbing;
}
.fh5-map-anim {
  transition: transform 0.2s cubic-bezier(.4,2,.6,1);
}
.fh5-map-marker {
  position: absolute;
  z-index: 30;
}
.fh5-map-arrow {
  pointer-events: none;
  z-index: 50;
  transition: all 0.5s cubic-bezier(.4,2,.6,1);
}
